In [1]:
import numpy as np
import pandas as pd
import statistics

In [2]:
file1 = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')

In [3]:
file1

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [9]:
corr_matrix = file1.corr().abs()
corr_matrix   #create correlation matrix

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
customer_lifetime_value,1.000000,0.003732,0.404235,0.011912,0.017055,0.032371,0.016789,0.232849
income,0.003732,1.000000,0.002431,0.026564,0.003846,0.018903,0.004461,0.111221
monthly_premium_auto,0.404235,0.002431,1.000000,0.010036,0.019696,0.008811,0.018805,0.630149
months_since_last_claim,0.011912,0.026564,0.010036,1.000000,0.034086,0.001204,0.000814,0.013874
months_since_policy_inception,0.017055,0.003846,0.019696,0.034086,1.000000,0.002554,0.009719,0.004186
number_of_open_complaints,0.032371,0.018903,0.008811,0.001204,0.002554,1.000000,0.000303,0.010668
number_of_policies,0.016789,0.004461,0.018805,0.000814,0.009719,0.000303,1.000000,0.008019
total_claim_amount,0.232849,0.111221,0.630149,0.013874,0.004186,0.010668,0.008019,1.000000

In [13]:
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [16]:
corr_matrix.drop(corr_matrix.columns[to_drop], axis=1)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
customer_lifetime_value,1.000000,0.003732,0.404235,0.011912,0.017055,0.032371,0.016789,0.232849
income,0.003732,1.000000,0.002431,0.026564,0.003846,0.018903,0.004461,0.111221
monthly_premium_auto,0.404235,0.002431,1.000000,0.010036,0.019696,0.008811,0.018805,0.630149
months_since_last_claim,0.011912,0.026564,0.010036,1.000000,0.034086,0.001204,0.000814,0.013874
months_since_policy_inception,0.017055,0.003846,0.019696,0.034086,1.000000,0.002554,0.009719,0.004186
number_of_open_complaints,0.032371,0.018903,0.008811,0.001204,0.002554,1.000000,0.000303,0.010668
number_of_policies,0.016789,0.004461,0.018805,0.000814,0.009719,0.000303,1.000000,0.008019
total_claim_amount,0.232849,0.111221,0.630149,0.013874,0.004186,0.010668,0.008019,1.000000

In [17]:
drop= [column for column in upper.columns if any(upper[column] >0.95)]

In [23]:
x = corr_matrix.drop(corr_matrix.columns[drop], axis= 1)

In [24]:
x

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
customer_lifetime_value,1.000000,0.003732,0.404235,0.011912,0.017055,0.032371,0.016789,0.232849
income,0.003732,1.000000,0.002431,0.026564,0.003846,0.018903,0.004461,0.111221
monthly_premium_auto,0.404235,0.002431,1.000000,0.010036,0.019696,0.008811,0.018805,0.630149
months_since_last_claim,0.011912,0.026564,0.010036,1.000000,0.034086,0.001204,0.000814,0.013874
months_since_policy_inception,0.017055,0.003846,0.019696,0.034086,1.000000,0.002554,0.009719,0.004186
number_of_open_complaints,0.032371,0.018903,0.008811,0.001204,0.002554,1.000000,0.000303,0.010668
number_of_policies,0.016789,0.004461,0.018805,0.000814,0.009719,0.000303,1.000000,0.008019
total_claim_amount,0.232849,0.111221,0.630149,0.013874,0.004186,0.010668,0.008019,1.000000

In [25]:
categorical_df = file1.select_dtypes(include = 'object')

In [26]:
categorical_df

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [47]:
file1['region']=file1['region'].astype('category')
file1['education']=file1['education'].astype('category')
file1['response']=file1['response'].astype('category')
file1['coverage']=file1['coverage'].astype('category')
file1['effective_to_date']=file1['effective_to_date'].astype('category')
file1['month']=file1['month'].astype('category')
file1['employment_status']=file1['employment_status'].astype('category')
file1['location_code']=file1['location_code'].astype('category')
file1['gender']=file1['gender'].astype('category')
file1['marital_status']=file1['marital_status'].astype('category')
file1['policy_type']=file1['policy_type'].astype('category')
file1['policy']=file1['policy'].astype('category')
file1['renew_offer_type']=file1['renew_offer_type'].astype('category')
file1['sales_channel']=file1['sales_channel'].astype('category')
file1['vehicle_class']=file1['vehicle_class'].astype('category')
file1['vehicle_size']=file1['vehicle_size'].astype('category')

In [52]:
file1['region_new']=file1['region'].cat.codes
file1['education_new']=file1['education'].cat.codes
file1['response_new']=file1['response'].cat.codes
file1['coverage_new']=file1['coverage'].cat.codes
file1['effective_to_date_new']=file1['effective_to_date'].cat.codes
file1['month_new']=file1['month'].cat.codes
file1['employment_status_new']=file1['employment_status'].cat.codes
file1['location_code_new']=file1['location_code'].cat.codes
file1['gender_new']=file1['gender'].cat.codes
file1['marital_status_new']=file1['marital_status'].cat.codes
file1['policy_type_new']=file1['policy_type'].cat.codes
file1['policy_new']=file1['policy'].cat.codes
file1['renew_offer_type_new']=file1['renew_offer_type'].cat.codes
file1['sales_channel_new']=file1['sales_channel'].cat.codes
file1['vehicle_class_new']=file1['vehicle_class'].cat.codes
file1['vehicle_size_new']=file1['vehicle_size'].cat.codes

In [53]:
enc=OneHotEncoder()

In [54]:
enc_data=pd.DataFrame(enc.fit_transform(file1[['region_new','education_new']]).toarray())

In [55]:
New_df=file1.join(enc_data)

In [56]:
print(New_df)

            region  customer_lifetime_value response  coverage education  \
0          central                     4809       no     basic   college
1      west region                     2228       no     basic   college
2             east                    14947       no     basic  bachelor
3       north west                    22332      yes  extended   college
4       north west                     9025       no   premium  bachelor
...            ...                      ...      ...       ...       ...
10684      central                    15563       no   premium  bachelor
10685   north west                     5259       no     basic   college
10686      central                    23893       no  extended  bachelor
10687  west region                    11971       no   premium   college
10688      central                     6857       no     basic  bachelor

      effective_to_date month employment_status gender  income  ...  \
0               2/18/11   feb          employed      m   48029  ...
1               1/18/11   jan        unemployed      f   92260  ...
2               2/10/11   feb          employed      m   22139  ...
3               1/11/11   jan          employed      m   49078  ...
4               1/17/11   jan     medical leave      f   23675  ...
...                 ...   ...               ...    ...     ...  ...
10684           1/19/11   jan        unemployed      f   61541  ...
10685            1/6/11   jan          employed      f   61146  ...
10686            2/6/11   feb          employed      f   39837  ...
10687           2/13/11   feb          employed      f   64195  ...
10688            1/8/11   jan        unemployed      m   68942  ...

      vehicle_size_new    0    1    2    3    4    5    6    7    8
0                    1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1                    1  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
2                    1  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3                    1  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
4                    1  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0
...                ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
10684                1  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
10685                1  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
10686                1  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
10687                1  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
10688                1  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0

[10689 rows x 49 columns]

In [58]:
numerical_df = file1.select_dtypes(include = 'int64')

In [70]:
numerical_df

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,92260,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7,1214
10685,5259,61146,65,7,68,0,6,273
10686,23893,39837,201,11,63,0,2,381
10687,11971,64195,158,0,27,4,6,618
10688,6857,68942,101,31,1,0,3,1021

In [71]:
from sklearn.preprocessing import PowerTransformer, StandardScaler, minmax_scale

In [73]:
varA

NameError: name 'varA' is not defined

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaled = scaler.fit_transform(varA)
print(scaled)

In [ ]:
sns.displot(numerical_df, x="varA")

In [ ]:
varB=

In [ ]:
scaler = StandardScaler()

In [ ]:
scaled = scaler.fit_transform(data)